body{
    margin: auto;
    color: #832;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: radial-gradient(circle, #217c89, #165e69, #0d434b, #06262b );
    padding: 5px 50px;
}

.couleur{
    color: #217c89;
}

header h1 {
    font-size: 70px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}